// _customize.scss
$color-font: #1e3946;
$color-link: #005182;
$color-show-details: #0071bc;
$color-mark-thumbs-active: #0071bc;
$color-border: #d8d8d8;
$color-main-background: #f3f3f3;

$color-submit: #fff;
$color-collection-list-background: #fff;
$color-dropdown-menu-label: #fff;
$color-statistics-label: #fff;
$color-listview-background: #fff;
$color-listview-details-background: #f2fbff;
$color-search-facets-background: #fff;
$color-detail-view-background: #fff;
$color-dropdown-menu-label-hover: #fff;
$color-dropdown-background: #fff;
$color-newspaper-background: #fff;
$color-basket-background: #fff;
$color-toolbox-background: #fff;
$color-toolbox-slider: #f33;
$color-toolbox-slider-background: transparent;

$color-footer-button-background: #fff;
$color-footer-background: #999;

$color-demo: #f94a15;
$color-demo-background: #fff;

$color-not-active: #999;
$color-pseudo-shadow: #999;
$color-pagegrid-page: #0071c2;

$color-calender-month-headline-background: #f2fbff;
