<header>
	<section class="portal-header">

		<article id="portal-logo">
			<a href="" id="kitodo-logo">
				<img src="../../typo3conf/ext/presentation_package/Resources/Public/Images//kitodo-logo.svg" alt="Kitodo.Production">
			</a>
			<a href="" id="kitodo-icon">
				<img src="../../typo3conf/ext/presentation_package/Resources/Public/Images//kitodo-icon.svg" alt="Kitodo.Production">
			</a>
		</article>

		<article class="meta-navigation">

			<v:content.render column="15" />

			<!--<a href="" title="favorites">-->
				<!--<img src="../../typo3conf/ext/presentation_package/Resources/Public/Images//icon-star.svg" alt="favorites">-->
				<!--<span class="meta-batchcount">44</span>-->
			<!--</a>-->
		</article>

	</section>

	<v:content.render column="0" />

</header>