<header>
	<section class="portal-header">

		<article class="meta-actions">
			<a href="" id="backlink" title="go back" style="display:none;"><img src="../../typo3conf/ext/presentation_package/Resources/Public/Images/icon-goback.svg" alt="go back" /></a>
			<span class="meta-is-version">DEMO</span>
		</article>

		<article id="portal-logo">
			<a href="" id="kitodo-logo">
				<img src="../../typo3conf/ext/presentation_package/Resources/Public/Images//kitodo-logo.svg" alt="Kitodo.Production">
			</a>
			<a href="" id="kitodo-icon">
				<img src="../../typo3conf/ext/presentation_package/Resources/Public/Images//kitodo-icon.svg" alt="Kitodo.Production">
			</a>
		</article>

		<article class="meta-navigation">

			<f:format.raw>{contentBasket}</f:format.raw>

			<!--<a href="" title="favorites">-->
				<!--<img src="../../typo3conf/ext/presentation_package/Resources/Public/Images//icon-star.svg" alt="favorites">-->
				<!--<span class="meta-batchcount">44</span>-->
			<!--</a>-->
		</article>

	</section>

	<f:format.raw>{contentHeader}</f:format.raw>

</header>