<!--
 * (c) Kitodo. Key to digital objects e.V. <contact@kitodo.org>
 *
 * This file is part of the Kitodo and TYPO3 projects.
 *
 * @license GNU General Public License version 3 or later.
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
-->
<!-- ###TEMPLATE### -->
<div class="detail-view-nav">
    <ul class="tx-dlf-navigation">
        <li class="tx-dlf-navigation-double">
            ###DOUBLEPAGE###
        </li>
        <li class="tx-dlf-navigation-double-plus">
            ###DOUBLEPAGE+1###
        </li>
        <li class="tx-dlf-navigation-zoom-in">
            <a href="#">###ZOOM_IN###</a>
        </li>
        <li class="tx-dlf-navigation-zoom-out">
            <a href="#">###ZOOM_OUT###</a>
        </li>
        <li class="tx-dlf-navigation-rotate-left">
            <a href="#">###ROTATE_LEFT###</a>
        </li>
        <li class="tx-dlf-navigation-rotate-right">
            <a href="#">###ROTATE_RIGHT###</a>
        </li>
        <!--<li class="tx-dlf-navigation-rotate-reset">-->
            <!--<span>###ROTATE_RESET###</span>-->
        <!--</li>-->
        <li class="tx-dlf-navigation-first">
            ###FIRST###
        </li>
        <li class="tx-dlf-navigation-back">
            ###BACK###
        </li>
        <li class="tx-dlf-navigation-prev">
            ###PREVIOUS###
        </li>
        <li class="tx-dlf-navigation-pageselect">
            ###PAGESELECT###
        </li>
        <li class="tx-dlf-navigation-next">
            ###NEXT###
        </li>
        <li class="tx-dlf-navigation-fwd">
            ###FORWARD###
        </li>
        <li class="tx-dlf-navigation-last">
            ###LAST###
        </li>
        <li class="tx-dlf-navigation-listview" style="display:none;">
            ###LINKLISTVIEW###
        </li>

        <!--<li class="tx-dlf-navigation-fullscreen">-->
            <!--###ZOOM_FULLSCREEN###-->
        <!--</li>-->
    </ul>
</div>
<!-- ###TEMPLATE### -->
