<f:layout name="DefaultLayout" />
<f:section name="Main">
<main class="clear">
	<section id="detail-view">

		<article class="detail-view-header">

			<div id="c9" class="detail-view-title">

				<f:format.raw>{contentMetadataTitle}</f:format.raw>

			</div>

			<div id="c10" class="detail-view-nav">

				<f:format.raw>{contentNavigation}</f:format.raw>

			</div>

		</article>

		<article class="detail-view-itemoptions">

			<f:format.raw>{contentTOC}</f:format.raw>

			<div class="detail-view-itemdetails">

				<div class="dropdown-menu">
					<input type="checkbox" id="checkbox-menu3">
					<label for="checkbox-menu3">
						<dl>
							<dt></dt><dd>Metadaten</dd>
						</dl>
					</label>
					<ul>
						<li class="tx-dlf-toc-act tx-dlf-toc-ifsub">
							<f:format.raw>{contentMetadata}</f:format.raw>
						</li>
					</ul>
				</div>

			</div>

			<div id="c16" class="detail-view-tools">

				<div class="dropdown-menu">
				    <input type="checkbox" id="checkbox-menu2">
				    <label for="checkbox-menu2">Werkzeuge</label>
					<f:format.raw>{contentTools}</f:format.raw>
				</div>

			</div>

		</article>

		<f:format.raw>{contentMain}</f:format.raw>
	</section>
</main>
</f:section>